@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Kanit&display=swap');

body {
    min-width: 400px;
    background-color: #031D44;
    font-family: 'Inconsolata';
}

header, footer {
    text-align: center;
    margin: 1rem;
    background-color: #dfc087;
    border-radius: 10px;
    text-shadow: 0px 4px 6px rgba(0,0,0,0.7);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);

}

h1, h2 {
    font-family: 'Kanit';
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
    background-color: #E7DFC6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.8);
}

.info {
    background-color: #dfc087;
    padding: 1rem;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.8);

}

.card h2 {
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 0px 4px 6px rgba(0,0,0,0.7);}

.card img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.8);

}

.card p {
    margin-bottom: 5px;
}