@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    height: 350px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
}

table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
}

thead {
    background-color: #333;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    width: 50px;
}
caption {
    caption-side: bottom;
    padding: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
}